
/****head starts****/
.navbar{
    background-color: black;
    line-height: 70px;
    opacity: .8;

}
.navbar-brand {
    font-size: 1.8em;
    color:#007bff !important;
 
}
.navbar > .container {
   margin:0;
   width:100%;
}
.nav-item .nav-link {
    color:#007bff !important;
    font-size: 1.6em;
    display:block;
    margin-right: 70px;  
}
.fa{
    color: white ;
}
/****head end****/

/****body starts****/
.mainpage >.row {
    width:95%;
    background-color: #007bff;
    border:2px solid black ;
    box-shadow: 0px 0px 5px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:auto;
    margin-right:auto;  
}
.picture{
    position: relative;
    border: 2px solid black; 
    box-shadow: 0px 0px 5px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    margin-top: 50px;
    margin-bottom: 20px; 
    transition: transform .2s;
  }
.picture:hover{
    transform: scale(1.2);
}
.container .scroll {
    color:orange;
    background-color: #0b0222;
}
.intro {
    font-weight: 900;
    font-size: 1.2em;
    font-style: oxygen;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top:60px;
  
}
#hero {
     color: black !important;
     text-align: justify;
}
.desc {
    margin:10px;
    font-style: italic;
    text-align :center;
    padding:5px;
}
hr{
    border: 1px solid black;
    box-shadow: 0px 0px 5px;
    width:70%;
}
.btn:hover{
    color: black;
    background-color:orange;
    
}
.subpage .skills 
{   
    font-style: oblique;
    background-color:#6c757d;
    font-weight: bold;
    color:whitesmoke;
    border:2px solid black;
    box-shadow: 0 0 5px;
    border-radius: 5px;    
}
/*****about me content********/

.time-head{
    background-color: chartreuse;
    margin: 5px;
    color:black !important;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2em;
    border-radius: 5px;
}

@media (min-width: 0px) and (max-width :767px) {
    .timeline .timeline-content:nth-child(even){
        background-color:rgb(184, 119, 0) ;
        border-radius: 5px;
        color:wheat;
        border: 2px solid blueviolet;
        box-shadow: 0 0 5px;
        font-weight: 800;
        margin-bottom: 10px;
        overflow: auto;
    }

    .timeline .timeline-content:nth-child(odd){
        background-color:#0b0222 ;
        border-radius: 5px;
        color:orange;
        border: 2px solid blueviolet;
        font-weight: 800;
        box-shadow: 0 0 5px;
        margin-bottom: 10px;
        overflow: auto;
    }

}
 


  
@media (min-width: 768px) {

    .timeline{
        background-color: black;
        opacity: .8;
        padding: 0;
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
      }
     .timeline .container:nth-child(odd)::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right:-0px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
      .timeline .container:nth-child(even)::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        left:2px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
    
    #subrow {
        width:70%;
        margin:0 auto;
    }
    
    .timeline .timeline-content {
        background-color:inherit;
        float:left;
        margin:15px;
        width:70%
    }
    .timeline .timeline-content:nth-child(even)
    {
        float:right;
    }
    .timeline .content {
        position: relative;
        background-color:#0b0222;
        border-radius:6px;
        font-weight: 800;
        color:wheat;
        border:2px solid blueviolet;
        width:80%;
        margin:15px auto;
        overflow: auto;
    }
}
/********Hire Me******/
.get-in-touch{
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}

/*****footer******/

.footer {
    background-color: black;
    line-height: 70px;
    opacity: .8;
    color:#007bff;
    font-weight: bold;
    font-style: italic;
    overflow:auto;
    position: relative;
    width:98%;
}
.bar{
    margin-top: 15px;
    line-height: 30px;
    width:95%;
    background-color: orange;
    color: #0b0222;
    border-radius: 10px;
    border:2px solid blueviolet;
}

/************************End************************/
    











